.nav{
    background-color: #323232;
}

.nav-item-i{
  background-color: #272727;
}

.active button{
  border-radius: 10px;
}

.nav-user{
  margin-top: 0.5rem;
}


@media screen and (max-width: 600px) {
  .nav-user{
    margin-top: 0rem;
  }

 .nav-trending{
  display: none;
  }
  .navbarItem img{
    width: 20px;
  }

  .navbarItem div{
    font-size: 1rem;
  }
  .navbarItem{
    height: 40px;
    width: 40px;
  } 
  .home {
    width: 80px !important;
    height: 80px !important;
  }
}